<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.applicaster.sport1player">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name=".PresentPluginActivity"
            android:configChanges="screenSize|orientation"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>
        <activity android:name=".Sport1PlayerActivity"
            android:configChanges="screenSize|orientation"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>
    </application>

</manifest>
